*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #212428;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #212428 inset !important;
  -webkit-text-fill-color: rgb(229 231 235);
}

.overflow-hidden {
  overflow: hidden;
}

.font-primary {
  font-family: "Poppins", sans-serif;
}

.font-secondary {
  font-family: "Montserrat", sans-serif;
}
