/* Sidebar.css */

.sidebar {
    /* width: 200px; */
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 20px;
    color: white;
    flex: 1; /* Take up remaining space */

  }
  
  .sidebar h2 {
    margin-bottom: 10px;
  }
  
  .product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .product-list li {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #555;
    transition: background-color 0.3s;
  }
  
  .product-list li:hover {
    background-color: #555;
  }
  